{% extends 'utils/base.html' %}



{% block start %}

<div class="container mt-5 pb-5 pt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow" style="width: 18rem;">
        <img src="https://images.oyoroomscdn.com/uploads/hotel_image/46951/medium/ad1312940199194d.jpg" class="card-img-top" alt="Luxury Resort">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and mak</p>
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
        </div>
      </div>
    </div>




<div class="col-md-3">
      <div class="card shadow" style="width: 18rem;">
        <img src="https://images.oyoroomscdn.com/uploads/hotel_image/46951/medium/ad1312940199194d.jpg" class="card-img-top" alt="Luxury Resort">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and mak</p>
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
        </div>
      </div>
    </div>



<div class="col-md-3">
      <div class="card shadow" style="width: 18rem;">
        <img src="https://images.oyoroomscdn.com/uploads/hotel_image/46951/medium/ad1312940199194d.jpg" class="card-img-top" alt="Luxury Resort">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and mak</p>
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
        </div>
      </div>
    </div>




<div class="col-md-3">
      <div class="card shadow" style="width: 18rem;">
        <img src="https://images.oyoroomscdn.com/uploads/hotel_image/46951/medium/ad1312940199194d.jpg" class="card-img-top" alt="Luxury Resort">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and mak</p>
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
        </div>
      </div>
    </div>








  </div>
</div>







{% endblock %}